.notification {
	font: normal 16px Verdana, Tahoma;
	background-color: #f9edbe;
	border: 1px solid #F0C36D;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	line-height: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 100px;
	z-index: 100001;
}

.toolbar ul {
	padding: 0;
}

.toolbar li {
	list-style-type: none;
	float: left;
	text-align: center;
	width: 25%;
}

.toolbar ul li a span {
	display: block;
	margin-top: 5px;
	font-size: 12px;
}

.toolbar .glyphicon {
	font-size: 30px;
	cursor: pointer;
}

.toolbar-event li {
	width: 20%;
}

.panel .glyphicon {
	font-size: 30px;
	cursor: pointer;
}

.panel .fields {
	padding-left: 10px;
}

.panel .field {
	display: block;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.eventType>.active>a, .toolbar .active>a {
	color: red;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-panel {
	 margin: 0 auto; 
	 padding: 15px 0; 
	 float: none;
}

.search-panel>div {
	display: table; 
	position: relative; 
	width:100%;
}

.btn-big {
	font-size: 25px;
}

.event-title {
	padding: 20px 0;
}

.event-title>div{
	position: absolute;
	right: 15px;
	top: 5px;
}

.angular-google-map-container { 
	height: 400px; 
}

.row-main {
	margin: 5px;
}