body {
	color: #999;
	font-family: "Open Sans", arial, sans-serif;
}

html *{
	margin: 0px;
	padding: 0px;
}

.block {
	display: block;
}

.btn-action, .btn-action:hover {
	color: #fff;
	background-color: #c51f4b;
}

.badge-blue {
	background-color: #00a6b5;
}

.badge-border-blue {
	background-color: #fff;
	border: 1px solid #00a6b5;
	color: #00a6b5;
}

.pointer {
	cursor: pointer;
	cursor: hand;
}

.list-container {
	background-color: #f7f7f9;
}

.list-tool-bar {
	padding: 10px;
	background-color: #00a6b5;
	color: white;
}

.list-tool-bar-title {
	font-size: 18px;
}

.list-filter-bar {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
}

.list-search-bar {
	padding-top: 15px;
	padding-bottom: 15px;
}

.list-filter-bar-section {
	padding-top: 5px;
	padding-bottom: 5px;
}

.list-filter-bar-section>h5 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.list-date-bar {
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-size: 18px;
}

.list-map {
	height: 300px;
}

.list-map-toolbar {
	position: absolute;
	left: 15px;
	top: 15px;
}

.list-categories {
	display: inline-block;
}

.list-categories > li {
	float: left;
	list-style: none;
	text-align: center;
}

.list-categories > li > span {
	margin: 0 4px;
}

.list-categories .category-title {
	font-size: 11px;
	display: block;
}

.list-categories > li.active > span.icon {
	border: 1px solid #00a6b5;
}

.list-categories > li.active > span.category-title {
	color: #00a6b5;
}

.list-event-item {
	cursor: pointer;
}

.list-event-body {
	margin-left:70px;
	position: relative;
}

.list-event-icons {
	 position:absolute;
	 right:0px;
	 top:0px;
}

.list-event-offer {
	text-transform: uppercase;
	color: #c51f4b;
	font-weight: 400;
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
}

.list-event-title {
	color: #00a6b5;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

.list-event-description {
	color: #00a6b5;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.list-event-props-line1 {
	margin-top: 12px;
	margin-bottom: 12px;
}

.list-event-star {
	
}

.margin-top-14 {/*temporary, TODO:remove*/
	margin-top: 14px;
}

.margin-left-8 {/*temporary, TODO:remove*/
	margin-left: 8px;
}

/* ICONS */

.icon {
	background: url(../img/sprites.png);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	opacity: .6;
	position: relative;
	display: inline-block;
	height: 36px;
	width: 36px;
	vertical-align: baseline;
}

.icon-bordered {
	border: 1px solid;
	cursor: pointer;
	cursor: hand;
	border-radius: 3px;
}

.icon-lg {
	height: 80px;
	width: 80px;
}

.icon-pyramid {
	background-position: -60px -0px;
	height: 22px;
	width: 22px;
}

/* GOTO CATEGORIES */
.icon-party {
	background-position: -116px -68px;
}

.icon-social {
	background-position: -152px -68px;
}

.icon-academy {
	background-position: -186px -70px;
}

.icon-hobbies {
	background-position: -119px -108px;
}

.icon-singles {
	background-position: -153px -108px;
}

/* LARGE ICONS */
.icon-lg-party {
	background-position: 0px -204px;
}

.icon-lg-social {
	background-position: -152px -68px;
}

.icon-lg-academy {
	background-position: -188px -68px;
}

.icon-lg-hobbies {
	background-position: -116px -104px;
}

.icon-lg-singles {
	background-position: -152px -104px;
}

/* MEET CATEGORIES */
.icon-concert {
	background-position: -188px -104px;
}

.icon-sport {
	background-position: -117px -142px;
}

.icon-festival {
	background-position: -148px -140px;
}

.icon-convention {
	background-position: -185px -140px;
}

@media (max-width: 767px) {
  .no-padding-xs {
    top: 0px;
    position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
  }
}

@media (min-width: 768px) {
  .padding-sm {
    top: 48px;
    position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
  }
}