// common styles between all pages
body {
	color: #999;
	font-family: "Open Sans", arial, sans-serif;
}

.panel, .panel-heading {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header {
	padding: 10px;
	background-color: #00a6b5;
	color: white;
	height: 50px;
	
	.header-title {
		font-size: 18px;
	}

	a {
		text-decoration: none;
		color: white;
	}
}

.header-container {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1001;
}

.pointer {
	cursor: pointer;
	cursor: hand;
}

.hbox {
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	height: 100%;
}

.hbox .col {
	display: table-cell;
	vertical-align: top;
	height: 100%;
	float: none;
}

.block {
	display: block;
}

.b-light {
	border-color: #edf1f2;
}

.b-b {
	border-bottom: 1px solid #dee5e7;
}

.text-muted {
	color: #99a6ad;
}

.btn-container {
	position: relative;
	padding: 10px 0px;
}

.text-sm {
	font-size: 11px;
}

.b-light {
	border-color: #edf1f2;
}

.b-r {
	border-right: 1px solid #dee5e7;
}

.padder-v {
	padding-top: 4px;
	padding-bottom: 4px;
}

.m-b-xs {
	margin-bottom: 5px;
}

.v-a-m {
	vertical-align: middle;
}

.fs-11 {
	font-size: 11px;
}

.fs-18 {
	font-size: 18px;
}

.mt-8{
	margin-top: 8px;
}
