@import "variables.less";

// common styles between all pages
body {
	color: #999;
	font-family: "Open Sans", arial, sans-serif;
}

.panel, .panel-heading {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header {
	background-color: @ioi-color;
	color: white;
	height: 50px;
	
	.header-title {
		font-size: 18px;
	}

	a {
		text-decoration: none;
		color: white;
	}
}

.header-container {
	border-width: 0;
	position:fixed;
	top:0;
	left:0;
	right:0;
	width: 100%;
	z-index:1001;
}

.pointer {
	cursor: pointer;
	cursor: hand;
}

.block {
	display: block;
}

.b-light {
	border-color: #edf1f2;
}

.text-muted {
	color: #99a6ad;
}

.btn-container {
	position: relative;
	padding: 10px 0px;
}

.b-light {
	border-color: #edf1f2;
}

.fs-11 {
	font-size: 11px;
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: .2;
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	text-align: center;
	z-index: 100000;
	color: #fff;
	font-size: 42px;
}

.header-title {

	i, span {
		font-size: 18px;
		vertical-align: middle;
		line-height: 50px;
	}
}

.header-logo, .header-actions {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	a, button {
		border: none;
		border-radius: 0;
		background-color: transparent;
		display: inline-block;
		color: white;
		height: 50px;
		width: 40px;
		padding: 0;
		float: left;
		text-align: center;
		vertical-align: middle;
		-webkit-transition: background-color 0.4s ease-out;
		transition: background-color 0.4s ease-out;
		-webkit-tap-highlight-color: transparent;
	}

	a {
		line-height: 50px;
	}

	a>i {
		vertical-align: middle;
		line-height: 50px;
	}

	button.active {
		color: #141719;
	}

	a:hover, button:hover {
		background-color: #009ab5;
		color: white !important;
	}

	a:focus, button:focus {
		background-color: #009ab5;
		outline: 0;
	}

	a:active, button:active {
		background-color: #009ab5;
		color: #141719;
		outline: 0;
	}

	button:last-child {
		margin-right: 16px;
	}
}

.mob-btn {
	padding: 8px 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: #99a6ad;
	-webkit-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
	-webkit-tap-highlight-color: transparent;

	&.selected {
		color: #141719;
	}

	&:hover, &:focus {
		color: #99a6ad;
		background-color: @ioi-color;
		outline: 0;
	}

	&:active {
		background-color: @ioi-color;
		color: #141719;
		outline: 0;
		-webkit-box-shadow: none;
	    box-shadow: none;
	}

	&:last-child {
		border-right-style: none;
	}

	span:first-child  {
		margin-bottom: 5px;
		font-size: 24px;
	}

	span:last-child  {
		font-size: 11px;
	}
}
