@import "variables.less";
@import "icons.less";
@import "common.less";

#event {
	.event-container {
		background-color: @default-bgcolor;
		margin-top: 50px;
	}
	
	a:hover, a:focus {
		color: #99a6ad;
		text-decoration: none;
	}

	a.active {
		color: #141719;
		text-decoration: none;
	}
}

#info {
	.event-container {
		background-color: @default-bgcolor;
		margin-top: 150px;
	}

	.share ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		width: 100% !important;
	}

	.share li {
		display: inline-block; 
		list-style-type: none;
		text-align: center;
		width: 24%; //TODO: fix, 25%
	}

	.share a, .share a:hover {
		text-decoration: none;
		color: #999;
	}

	.share ul li a span {
		display: block;
		margin-top: 5px;
		font-size: 12px;
	}

	.share .glyphicon {
		font-size: 30px;
		cursor: pointer;
	}
}

#info-header {
	.main-info {
		min-height: 100px;
	}

	.list-group-item {
		border-radius: 0;
	}
}

#events-header {

	#prev-day-button, #filter-date, #next-day-button {
		line-height: 22px;
	}

	#map-btn, #filter-btn, #plus-link {
		margin-right: 12px;
		color: white;
	}

	#map-btn.active, #filter-btn.active {
		margin-right: 12px;
		color: yellow;
	}

	.filters {
		height: 120px;
		z-index: 1;
		background-color: @default-bgcolor;
		padding-bottom: 4px;
		padding-top: 4px;
		border-bottom: 1px solid #ddd;
		display:none;
	}

	.map {
		background-color: @default-bgcolor;
		padding-bottom: 1px;
		border-bottom: 1px solid #ddd;
		height: 120px;
		visibility: hidden;
		z-index: 1;
		position: absolute;
		left: -10000;
	}

	#map-canvas {
		height: 100%;
	}

	.date {
		background-color: @default-bgcolor;
		text-transform: uppercase;
		height:30px;
		font-size: 16px;
		text-align: center;
		padding: 5px 0;
	}

	a:hover, a:focus {
		color: #99a6ad;
		text-decoration: none;
	}

	a.active {
		color: #141719;
		text-decoration: none;
	}
}

#events {
	.events-container {
		background-color: @default-bgcolor;
		margin-top: 80px;
	}

	.col-sm-6 {
		padding-left: 0;
		padding-right: 0;
	}

	.list-group-item {
		border-radius: 0;
	}

	.media-heading {
		margin: 0;
	}

	.filter-bar-section {
		padding-top: 3px;
		padding-bottom: 3px;
		width: 100%;
	}

	.date-bar {
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
		font-size: 18px;
	}

	.event-title {
		color: #00a6b5;
		font-size: 15px;
	}

	.event-offer {
		text-transform: uppercase;
		color: #c51f4b;
		font-weight: 400;
		font-size: 15px;
	}

	.event-icon {
	    position: absolute;
	    top: 50%;
	    margin-top: -14px;
	    padding: 0 5px;
	}

	.event-arrow {
		font-size: 40px;
		position: absolute;
		right: 14px;
		top: 50%;
		margin-top: -20px;
	}

	.event-time {
		font-size: 11px;
		text-transform: uppercase;
	}

	.event-body {
		margin-left: 50px;
	}

	p {
		margin: 0;
	}

	.list-group-item {
		padding: 4px 6px;
		/*border: 1px solid #f1f2f3;*/
	}

	.panel .panel-heading {
		border-bottom: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.media-body {
		margin-right: 20px;
	}
}