<div class="text-center  event-title">
	<span>{{event.title}}</span>
	<div>
		<a ng-href="#/{{location}}" class="btn btn-default btn-big"> 
			<span class="glyphicon glyphicon-home"></span>
		</a>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-tree-conifer pull-left"></span>
		<div class="fields pull-left">
			<span class="field">{{event.startTime | date:'short'}}</span>
			<span class="field">{{event.title}}</span>
			<span class="field">{{event.locationTitle}}</span>
			<span class="field">{{event.description}}</span>
			<span class="field">{{event.sharability}}</span>
			<span class="field">{{event.visibility}}</span>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<h5>You are attending this event</h5>
		<h5>NOTE. This is a pyramid event you are asked to share this event with your friends</h5>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="toolbar">
			<ul>
				<li><a href="" ng-click="shareLink()"><span class="glyphicon glyphicon-link"></span><span>Share link</span></a></li>
				<li><a href="" ng-click="shareByEmail()"><span class="glyphicon glyphicon-envelope"></span><span>Email</span></a></li>
				<li><a href=""><span class="glyphicon glyphicon-gbp"></span><span>Facebook</span></a></li>
				<li><a href=""><span class="glyphicon glyphicon-usd"></span><span>Google+</span></a></li>
			</ul>
		</div>
	</div>
</div>