<div ng-show="readyToShow == true">
	<div class="row">
		<div class="col-lg-8 search-panel">
			<input type="text" class="form-control" ng-model="event.title" placeholder="Your event name">
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="toolbar toolbar-event">
					<ul class="eventType">
						<li ng-repeat="eventType in eventTypes" ng-class="{true:'active',false:''}[event.type == eventType.id]">
							<a href="" ng-click="selectEventType(eventType.id)">
								<span class="glyphicon glyphicon-{{eventType.img}}"></span>
								<span>{{eventType.id}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>Your name</h5>
                <input type="text" class="form-control" ng-model="guest.name">
            </div>
        </div>
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="glyphicon glyphicon-calendar pull-left" ng-click="nextDateType()"></span>
				<div class="text-center">
					<span ng-show="dateType == 'EMPTY'">Happening sometime</span>
					<span ng-show="dateType == 'NOW'">Happening NOW</span>
					<div ng-show="dateType == 'CUSTOM'">
						<!-- <input type="text" b-datepicker ng-model="event.startTime" data-date-format="dd-mm-yyyy">
						
						<div class="input-daterange input-group" ng-model="event.startTime" b-datepicker>
						    <input type="text" class="input-sm form-control" ng-model="event.startTime"/>
						    <span class="input-group-addon">to</span>
						    <input type="text" class="input-sm form-control" ng-model="event.endTime" />
						</div>-->
						<input size="16" type="text" ng-model="event.startTime" b-datetimepicker readonly class="form_datetime">
						<span>to</span>
						<input size="16" type="text" ng-model="event.endTime" b-datetimepicker readonly class="form_datetime">
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="glyphicon glyphicon-map-marker pull-left" ng-click="nextLocationType()"></span>
				<div class="text-center">
					<span ng-show="locationType == 'EMPTY'">Happening somewhere</span>
					<div ng-show="locationType == 'MAP'">
						<google-places event="event"></google-places>
						<span class="glyphicon glyphicon-globe pull-right" ng-click="showMap()"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="glyphicon glyphicon-{{sharabilityImg}} pull-left" ng-click="nextSharability()"></span>
				<span class="glyphicon glyphicon-{{visibilityImg}} pull-right" ng-click="nextVisibility()"></span>
			</div>
		</div>
		<pre>{{event}}</pre>
		<a href="" class="btn btn-default pull-right" ng-click="shareEvent()" ng-hide="event.eventId">
			<span class="glyphicon glyphicon-share"></span><br>Share event
		</a>
		<a href="" class="btn btn-default pull-right" ng-click="updateEvent()" ng-show="event.eventId">
			<span class="glyphicon glyphicon-save"></span><br>Save event
		</a>
	</div>
</div>