<div ng-show="readyToShow == true">
	<div class="row text-center">
		<h2>
			<a ng-href="/{{location}}">It's On In</a>
		</h2>
	</div>
	<div class="row text-center">
		<h4>{{location}}</h4>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="toolbar toolbar-event">
					<ul class="eventType">
						<li ng-repeat="eventType in eventTypes" ng-class="{true:'active',false:''}[event.type == eventType.id]">
							<a href="" ng-click="selectEventType(eventType.id)">
								<span class="glyphicon glyphicon-{{eventType.img}}"></span>
								<span>{{eventType.id}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	    <div class="panel panel-default">
            <div class="panel-body">
                <label>Your name</label>
                <input type="text" class="form-control" ng-model="guest.name">
                <label>Event title</label>
                <input type="text" class="form-control" ng-model="event.title">
            </div>
        </div>
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="glyphicon glyphicon-calendar pull-left" ng-click="nextDateType()"></span>
				<div class="text-center">
					<span ng-show="dateType == 'EMPTY'">Happening sometime</span>
					<span ng-show="dateType == 'NOW'">Happening NOW</span>
					<div ng-show="dateType == 'CUSTOM'">
						<input size="16" type="text" ng-model="event.startTime" b-datetimepicker readonly class="form_datetime">
						<span>to</span>
						<input size="16" type="text" ng-model="event.endTime" b-datetimepicker readonly class="form_datetime">
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<span class="glyphicon glyphicon-map-marker pull-left" ng-click="nextLocationType()"></span>
				<span ng-show="locationType == 'MAP'" class="glyphicon glyphicon-globe pull-right" ng-click="showMap()"></span>
				<div class="text-center">
					<span ng-show="locationType == 'EMPTY'">Happening somewhere</span>
					<div style="margin-left:50px;margin-right:50px" ng-show="locationType == 'MAP'">
						<google-places event="event"></google-places>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<span>{{visibilityText}}, {{sharabilityText}}</span>
				<span class="glyphicon glyphicon-{{visibilityImg}} pull-left" ng-click="nextVisibility()"></span>
				<span class="glyphicon glyphicon-{{sharabilityImg}} pull-right" ng-click="nextSharability()"></span>
			</div>
		</div>
		<div class="alert alert-success" ng-show="success">{{success}}</div>
		<div class="alert alert-danger" ng-show="error">{{error}}</div>
		<div class="btn-group pull-right">
			<a ng-href="/{{location}}" class="btn btn-default">
				<span class="glyphicon glyphicon-arrow-left"></span><br>Cancel
			</a>
			<a href="" class="btn btn-default" ng-click="shareEvent()" ng-hide="event.eventId">
				<span class="glyphicon glyphicon-share"></span><br>Share event
			</a>
			<a href="" class="btn btn-default" ng-click="updateEvent()" ng-show="event.eventId">
				<span class="glyphicon glyphicon-save"></span><br>Save event
			</a>
		</div>
	</div>
</div>