<div class="row text-center">
	<h2>
		<a href="/about">It's On In</a>
	</h2>
</div>
<div ng-switch on="isKnownLocation()">
	<div class="alert alert-danger" ng-switch-when="false">Location not yet active</div>
	<div ng-switch-when="true">
		<div class="row">
			<div class="col-md-6 col-lg-6 search-panel">
				<div>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="location" /> 
							<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<div style="display: table-cell;padding-left:5px">
						<a href="/e/add" class="btn btn-default pull-right">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
    		<div class="panel panel-default">
    			<div class="panel-body">
    				<div class="toolbar">
    					<ul>
    						<li ng-class="{true:'active',false:''}[allEvents == false]">
    							<a href="" ng-click="toggleEventsFilter()">
    								<span class="glyphicon glyphicon-th-list"></span>
    								<span>{{ allEvents ? 'All events' : 'My events' }}</span>
    							</a>
    						</li>
    						<li ng-class="{true:'active',false:''}[dateFilterState != 0]">
    							<a href="" ng-click="toggleDateFilter()">
    								<span class="glyphicon glyphicon-calendar"></span>
    								<span>{{ dateFilterText[dateFilterState] }}</span>
    							</a>
    						</li>
    						<li ng-class="{true:'active',false:''}[allPlaces == false]">
    							<a href="" ng-click="togglePlacesFilter()">
    								<span class="glyphicon glyphicon-map-marker"></span>
    								<span>{{ allPlaces ? 'All places' : 'Custom' }}</span>
    							</a>
    						</li>
    						<li ng-class="{true:'active',false:''}[allCategories == false]">
    							<a href="" ng-click="toggleCategoriesFilter()">
    								<span class="glyphicon glyphicon-filter"></span>
    								<span>{{ allCategories ? 'All categories' : 'Selected' }}</span>
    							</a>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    		<div class="panel panel-default" ng-show="dateFilterState==1">
    			<div class="panel-body">
    				Happening from
    				<input size="16" type="text" ng-model="filter.startTime" b-datetimepicker readonly class="form_datetime">
    				{{startTime}}
    			</div>
    		</div>
    		<div class="panel panel-default" ng-show="!allPlaces">
    			<div class="panel-body">
    				<!-- <google-places event="event"></google-places> -->
    				temporary disabled
    			</div>
    		</div>
    		<div class="panel panel-default" ng-show="!allCategories">
    			<div class="panel-body">
    				<div class="toolbar toolbar-event">
    					<ul class="eventType">
    						<li ng-repeat="eventType in eventTypes" ng-class="{true:'active',false:''}[filterContainsType(eventType.id) == true]">
    							<a href="" ng-click="toggleEventType(eventType.id)">
    								<span class="glyphicon glyphicon-{{eventType.img}}"></span>
    								<span>{{eventType.id}}</span>
    							</a>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    		<div class="panel panel-default" ng-repeat="event in events">
    			<div class="panel-body">
    				<span class="glyphicon glyphicon-{{getEventImage(event.type)}} pull-left"></span>
    				<div class="fields pull-left">
    					<span class="field bold">{{event.startTime | calendar}}</span>
    					<span class="field bold">{{event.title}}</span>
    					<span class="field italic">{{event.locationTitle}}</span>
    					<span class="field">{{event.locationAddress}}</span>
    				</div>
    				<a href="" ng-click="openEvent(event.eventId)" class="pull-right">View</a>
    			</div>
    		</div>
        </div>
	</div>
</div>