<div class="text-center event-title">
	<span>{{event.title}}</span>
	<div>
		<a ng-href="#/{{location}}" class="btn btn-default btn-big"> 
			<span class="glyphicon glyphicon-home"></span>
		</a> 
		<a ng-href="#/e/{{event.eventId}}/edit" class="btn btn-default btn-big"> 
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<span class="glyphicon glyphicon-tree-conifer pull-left"></span>
		<div class="fields pull-left">
			<span class="field">{{event.startTime | date:'short'}}</span>
			<span class="field">{{event.title}}</span>
			<span class="field">{{event.locationTitle}}</span>
			<span class="field">{{event.description}}</span>
			<span class="field">{{event.sharability}}</span>
			<span class="field">{{event.visibility}}</span>
		</div>
	</div>
</div>
<div class="panel panel-default" ng-click="nextSharability()">
	<div class="panel-body">
		<span>comments ...</span>
	</div>
</div>